<!DOCTYPE html>
<html>
<head>
  <title>UGlst-DTSrv</title>
  <link rel="author" href="humans.txt" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
